h1,
h2,
.btn,
.navbar {
  font-family: Poppins, Helvetica, sans-serif, Arial;
}

.banner {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}


.login-container {
  margin: 0px;
  padding: 2vh;
}

.form-control {
  margin: 1vh;
}

.header-image {
  width: 40%;
}

.header-image img {
  width: 100%;
}

.home-body {
  /* background-image: url("background.jpeg"); */
  background-color: rgb(255 254 252);
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.all-posts {
  padding-top: 3vh;
}

.post-container {
  margin: 3vh;
  padding: 3vh;
  border-radius: 15px;
  border: solid #bdbdbd 0;
  box-shadow: 12px 8px 43px rgba(0, 0, 0, 0.1);
  -webkit-box-shadow: 12px 8px 43px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 12px 8px 43px rgba(0, 0, 0, 0.1);
}

.post-container h2 {
  font-size: 1.5em;
}


.post-container p,
.individual-post p {
  margin: 0px;
  font-size: 1.2em;

}

.compose-form>label {
  padding-top: 2vh;
}

.form-control {
  overflow: scroll;
}

.save-btn {
  border-radius: 12px;
  margin: 2vh;
}

.post-area {
  height: 100%;
}

.blog-para {
  background-color: rgb(255, 255, 255);
  display: block;
  word-wrap: break-word;
}

.footer-class {
  padding-top: 1rem;
}

.span-text {
  display: block;
  word-wrap: break-word;
}

.delete-text {
  display: block;
  word-wrap: break-word;
  margin: 4vh;
}

/* add button styles */
.addImg {
  height: 5%;
  position: fixed;
  bottom: 3rem;
  right: 5rem;
  z-index: 100;
}

.addImg:hover{
  
    transform: rotate(135deg); /* Equal to rotateZ(45deg) */
    background-color: rgb(183, 243, 208);
  
}

.back {
  height: 5%;
  position: fixed;
  bottom: 3rem;
  right: 5rem;
  z-index: 100;
}


.policy{
  height: 5%;
  position: fixed;
  bottom: 3rem;
  right: 5rem;
  z-index: 100;
  color: rgb(26, 15, 2);
}

/* unvisited link */
.blogs-tags {
  color: black;
  text-decoration: underline;
}


