<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('../partials/head'); %>
</head>

<body class="container">

    <header>
        <%- include('../partials/navbar_after_login'); %>
    </header>

    <h1>This should only be displayed after the user has logged in</h1>
    <h1><%= value%></h1>
</body>

</html>