<%- include('../partials/head') %>
    <style>
        body {
            background-image: url("/background.jpeg");
            -webkit-background-size: cover;
            -moz-background-size: cover;
            -o-background-size: cover;
            background-size: cover;
        }
    </style>
    <div class="container banner">
        <div class="vt-container header-text">
            <h1 class="header-name">More Than Just a Journal</h1>
            <p class="lead">
                Journal: A journey of a thousand miles begins with a single journal
            </p>
            <div>
                <a class="btn btn-light btn-lg" href="/register" role="button">Register</a>
                <a class="btn btn-dark btn-lg" href="/login" role="button">Login</a>
            </div>
        </div>
    </div>
    <p class="policy">*On Journal: No One Can See What You Write But You*</p>

    <%- include('../partials/footer') %>
