<%- include('../partials/head') %>    
    <div class="container banner">
        <div class="vt-container header-text">
            <h1 class="header-name">More Than Just a Journal</h1>
            <p class="lead">
                Journal: A journey of a thousand miles begins with a single journal
            </p>
            <div>
                <a class="btn btn-light btn-lg" href="/register" role="button">Register</a>
                <a class="btn btn-dark btn-lg" href="/login" role="button">Login</a>
                <!-- <a class="btn btn-info btn-lg" href="/resetpassword" role="button">Reset Password</a> -->
            </div>
        </div>
    </div>

    <%- include('../partials/footer') %>