<%- include('../partials/head') %>
    <%- include('../partials/navbarBeforeLogin') %>
    <style>
        body {
            background-image: url("background.jpeg");
            -webkit-background-size: cover;
            -moz-background-size: cover;
            -o-background-size: cover;
            background-size: cover;
        }
    </style>
        <div class="banner">
            <div class="container mt-5 login-container">
                <h1>Reset Password</h1>
                <div class="row">
                    <div class="col-sm-8">
                        <div class="card">
                            <div class="card-body">
                                <% if (err) { %>
                                    <div class="alert alert-warning" role="alert">
                                        <%= err %>
                                    </div>
                                    <% } %>
                                        <form action="/continuereset" method="GET">
                                            <div class="form-group">
                                                <label for="username">Username or Email</label>
                                                <input type="text" class="form-control" name="username" required />
                                            </div>
                            </div>
                            <button type="submit" class="btn btn-dark">Proceed</button>
                            </form>
                        </div>


                    </div>
                </div>
            </div>
        </div>
        <%- include('../partials/footer') %>