<%- include('../partials/head') %>
    <%- include('../partials/navbarAfterLogin') %>
    <style>
        body {
            background-image: url("background.jpeg");
            -webkit-background-size: cover;
            -moz-background-size: cover;
            -o-background-size: cover;
            background-size: cover;
        }
    </style>
        <div class="banner">
            <div class="container mt-5 login-container">
                <h1>Update Password</h1>
                <div class="row">
                    <div class="col-sm-8">
                        <div class="card">
                            <div class="card-body">
                                <% if (err) { %>
                                    <div class="alert alert-warning" role="alert">
                                        <%= err %>
                                    </div>
                                    <% } %>
                                        <form action="/updatepassword" method="POST">
                                            <div class="form-group">
                                                <label for="password">New Password</label>
                                                <input type="password" class="form-control" name="newPassword"
                                                    required />
                                            </div>
                                            <div class="form-group">
                                                <label for="password">Confirm New Password</label>
                                                <input type="password" class="form-control" name="confirmNewPassword"
                                                    required />
                                            </div>

                            </div>
                            <button type="submit" class="btn btn-dark" onclick="success()">Update</button>
                            </form>
                        </div>
                        <script>
                            function success() {
                                swal({
                                    title: "Success!",
                                    text: "Password updated successfully",
                                    type: "success",
                                }).then(setTimeout(() => {
                                    document.getElementById('form').submit();
                                }, 4000))
                            }
                        </script>

                    </div>
                </div>
            </div>
        </div>
        <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>

        <%- include('../partials/footer') %>